In [27]:
import sys
sys.path.append('C:/Users/57lzhang/Desktop/PPG')

In [1]:
import datetime
import glob
import pandas as pd

In [2]:
for folder_path in glob.glob('C:/Users/57lzhang/Desktop/PPG/*'):
    file_path = glob.glob(folder_path + '/*')
    df = pd.read_csv(file_path[0])

In [3]:
df.head()

,Timestamp of Read Request [HH:mm:ss.MM],Estimated sample time [HH:mm:ss.MM],alsVis,alsIr,ps1,ps2,ps3,Temperature,x,y,z,ppgValid,accValid,Activity
0,10:08:14 AM,10:08:12 AM,0.0,292.0,25152.0,16433.0,0.0,0.0,-1265.0,2110.0,3387.0,1.0,1.0,NaN
1,10:08:14 AM,10:08:12 AM,0.0,301.0,25157.0,16432.0,0.0,0.0,-1267.0,2112.0,3390.0,1.0,1.0,NaN
2,10:08:14 AM,10:08:12 AM,0.0,300.0,25162.0,16434.0,0.0,0.0,-1269.0,2111.0,3393.0,1.0,1.0,NaN
3,10:08:14 AM,10:08:12 AM,0.0,304.0,25159.0,16438.0,0.0,0.0,-1266.0,2109.0,3392.0,1.0,1.0,NaN
4,10:08:14 AM,10:08:12 AM,0.0,298.0,25156.0,16436.0,0.0,0.0,-1263.0,2108.0,3395.0,1.0,1.0,NaN

In [4]:
valid_idx_read = df['Timestamp of Read Request [HH:mm:ss.MM]'].dropna().index

In [5]:
for i in valid_idx_read:
    if i% 1000 == 0:
        print(f'processing {i} th row')
        
    string_time = df['Timestamp of Read Request [HH:mm:ss.MM]'][i]
    ms_time = string_time[:-3] + '.000'
    df.loc[df.index == i, 'Timestamp of Read Request [HH:mm:ss.MM]'] = ms_time

processing 0 th row
processing 1000 th row
processing 2000 th row
processing 3000 th row
processing 4000 th row
processing 5000 th row
processing 6000 th row
processing 7000 th row
processing 8000 th row
processing 9000 th row
processing 10000 th row
processing 11000 th row
processing 12000 th row
processing 13000 th row
processing 14000 th row
processing 15000 th row
processing 16000 th row
processing 17000 th row
processing 18000 th row
processing 19000 th row
processing 20000 th row
processing 21000 th row
processing 22000 th row
processing 23000 th row
processing 24000 th row
processing 25000 th row
processing 26000 th row
processing 27000 th row
processing 28000 th row
processing 29000 th row
processing 30000 th row
processing 31000 th row
processing 32000 th row
processing 33000 th row
processing 34000 th row
processing 35000 th row
processing 36000 th row
processing 37000 th row
processing 38000 th row
processing 39000 th row
processing 40000 th row
processing 41000 th row
processing 42000 th row
processing 43000 th row
processing 44000 th row
processing 45000 th row
processing 46000 th row
processing 47000 th row
processing 48000 th row
processing 49000 th row
processing 50000 th row
processing 51000 th row
processing 52000 th row
processing 53000 th row
processing 54000 th row
processing 55000 th row
processing 56000 th row
processing 57000 th row
processing 58000 th row
processing 59000 th row
processing 60000 th row
processing 61000 th row
processing 62000 th row
processing 63000 th row
processing 64000 th row
processing 65000 th row
processing 66000 th row
processing 67000 th row
processing 68000 th row
processing 69000 th row
processing 70000 th row
processing 71000 th row
processing 72000 th row
processing 73000 th row
processing 74000 th row
processing 75000 th row
processing 76000 th row
processing 77000 th row
processing 78000 th row
processing 79000 th row
processing 80000 th row
processing 81000 th row
processing 82000 th row
processing 83000 th row
processing 84000 th row
processing 85000 th row
processing 86000 th row
processing 87000 th row
processing 88000 th row
processing 89000 th row
processing 90000 th row
processing 91000 th row
processing 92000 th row
processing 93000 th row
processing 94000 th row
processing 95000 th row
processing 96000 th row
processing 97000 th row
processing 98000 th row
processing 99000 th row

In [6]:
valid_idx_est = df['Estimated sample time [HH:mm:ss.MM]'].dropna().index

In [7]:
for i in valid_idx_est:
    if i% 1000 == 0:
        print(f'processing {i} th row')
        
    string_time = df['Estimated sample time [HH:mm:ss.MM]'][i]
    ms_time = string_time[:-3] + '.000'
    df.loc[df.index == i, 'Estimated sample time [HH:mm:ss.MM]'] = ms_time

processing 0 th row
processing 1000 th row
processing 2000 th row
processing 3000 th row
processing 4000 th row
processing 5000 th row
processing 6000 th row
processing 7000 th row
processing 8000 th row
processing 9000 th row
processing 10000 th row
processing 11000 th row
processing 12000 th row
processing 13000 th row
processing 14000 th row
processing 15000 th row
processing 16000 th row
processing 17000 th row
processing 18000 th row
processing 19000 th row
processing 20000 th row
processing 21000 th row
processing 22000 th row
processing 23000 th row
processing 24000 th row
processing 25000 th row
processing 26000 th row
processing 27000 th row
processing 28000 th row
processing 29000 th row
processing 30000 th row
processing 31000 th row
processing 32000 th row
processing 33000 th row
processing 34000 th row
processing 35000 th row
processing 36000 th row
processing 37000 th row
processing 38000 th row
processing 39000 th row
processing 40000 th row
processing 41000 th row
processing 42000 th row
processing 43000 th row
processing 44000 th row
processing 45000 th row
processing 46000 th row
processing 47000 th row
processing 48000 th row
processing 49000 th row
processing 50000 th row
processing 51000 th row
processing 52000 th row
processing 53000 th row
processing 54000 th row
processing 55000 th row
processing 56000 th row
processing 57000 th row
processing 58000 th row
processing 59000 th row
processing 60000 th row
processing 61000 th row
processing 62000 th row
processing 63000 th row
processing 64000 th row
processing 65000 th row
processing 66000 th row
processing 67000 th row
processing 68000 th row
processing 69000 th row
processing 70000 th row
processing 71000 th row
processing 72000 th row
processing 73000 th row
processing 74000 th row
processing 75000 th row
processing 76000 th row
processing 77000 th row
processing 78000 th row
processing 79000 th row
processing 80000 th row
processing 81000 th row
processing 82000 th row
processing 83000 th row
processing 84000 th row
processing 85000 th row
processing 86000 th row
processing 87000 th row
processing 88000 th row
processing 89000 th row
processing 90000 th row
processing 91000 th row
processing 92000 th row
processing 93000 th row
processing 94000 th row
processing 95000 th row
processing 96000 th row
processing 97000 th row
processing 98000 th row
processing 99000 th row

In [17]:
for i in valid_idx_est:
    string_time = df['Estimated sample time [HH:mm:ss.MM]'][i]
    ts_time = datetime.datetime.strptime(string_time, '%H:%M:%S %p')
    ms_time = datetime.datetime.strftime(ts_time, '%H:%M:%S.%f')
    df.loc[df.index == i, 'Estimated sample time [HH:mm:ss.MM]'] = ms_time

KeyboardInterrupt: ignored

In [ ]:
for i in valid_idx:
    string_time = df['Timestamp of Read Request [HH:mm:ss.MM]'][i]
    ts_time = datetime.datetime.strptime(string_time, '%H:%M:%S %p')
    ms_time = datetime.datetime.strftime(ts_time, '%H:%M:%S.%f')
    df.loc[df.index == i, 'Timestamp of Read Request [HH:mm:ss.MM]'] = ms_time

In [8]:
df.head()

,Timestamp of Read Request [HH:mm:ss.MM],Estimated sample time [HH:mm:ss.MM],alsVis,alsIr,ps1,ps2,ps3,Temperature,x,y,z,ppgValid,accValid,Activity
0,10:08:14.000,10:08:12.000,0.0,292.0,25152.0,16433.0,0.0,0.0,-1265.0,2110.0,3387.0,1.0,1.0,NaN
1,10:08:14.000,10:08:12.000,0.0,301.0,25157.0,16432.0,0.0,0.0,-1267.0,2112.0,3390.0,1.0,1.0,NaN
2,10:08:14.000,10:08:12.000,0.0,300.0,25162.0,16434.0,0.0,0.0,-1269.0,2111.0,3393.0,1.0,1.0,NaN
3,10:08:14.000,10:08:12.000,0.0,304.0,25159.0,16438.0,0.0,0.0,-1266.0,2109.0,3392.0,1.0,1.0,NaN
4,10:08:14.000,10:08:12.000,0.0,298.0,25156.0,16436.0,0.0,0.0,-1263.0,2108.0,3395.0,1.0,1.0,NaN

In [9]:
df.tail()

,Timestamp of Read Request [HH:mm:ss.MM],Estimated sample time [HH:mm:ss.MM],alsVis,alsIr,ps1,ps2,ps3,Temperature,x,y,z,ppgValid,accValid,Activity
99125,10:24:12.000,10:24:12.000,0.0,616.0,26145.0,16718.0,0.0,0.0,-1414.0,1670.0,3641.0,1.0,1.0,NaN
99126,10:24:12.000,10:24:12.000,0.0,630.0,26140.0,16720.0,0.0,0.0,-1414.0,1687.0,3657.0,1.0,1.0,NaN
99127,10:24:12.000,10:24:12.000,0.0,623.0,26131.0,16715.0,0.0,0.0,-1412.0,1699.0,3666.0,1.0,1.0,NaN
99128,10:24:12.000,10:24:12.000,0.0,623.0,26130.0,16711.0,0.0,0.0,-1408.0,1707.0,3677.0,1.0,1.0,NaN
99129,10:24:12.000,10:24:12.000,0.0,627.0,26132.0,16719.0,0.0,0.0,-1403.0,1718.0,3682.0,1.0,1.0,NaN

In [14]:
df.to_csv(file_path[0][:-4]+'_string.csv', sep='\t', index=False)

In [ ]:
def add_millisecond(dir):
    """
    Add millisecond to the timestamp columns
    
    params:
    dir -- directory where subject level folder is saved 
           (e.g. 'C:/Users/57lzhang/Desktop/PPG/' )
    
    output:
    a corrected csv file saved in the same folder
    """
    for folder_path in glob.glob(os.path.join(dir, '/*')):
    file_path = glob.glob(folder_path + '/*')
    for file in file_path:
        df = pd.read_csv(file)
        # in case some rows are empty
        valid_idx = df['Timestamp of Read Request [HH:mm:ss.MM]'].dropna().index
        for i in valid_idx:
            string_time = df['Timestamp of Read Request [HH:mm:ss.MM]'][i]
            ts_time = datetime.datetime.strptime(string_time, '%H:%M:%S %p')
            ms_time = datetime.datetime.strftime(ts_time, '%H:%M:%S.%f')
            df['Timestamp of Read Request [HH:mm:ss.MM]'][i] = ms_time