<a href="https://colab.research.google.com/github/supertime1/Floyer_Analysis/blob/main/Fix_timestamp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sys
sys.path.append('C:/Users/57lzhang/Desktop/PPG')

In [2]:
import datetime
import glob
import pandas as pd

In [3]:
for folder_path in glob.glob('C:/Users/57lzhang/Desktop/PPG/*'):
    file_path = glob.glob(folder_path + '/*')
    df = pd.read_csv(file_path[0])

In [4]:
df.head()

,Timestamp of Read Request [HH:mm:ss.MM],Estimated sample time [HH:mm:ss.MM],alsVis,alsIr,ps1,ps2,ps3,Temperature,x,y,z,ppgValid,accValid,Activity
0,10:08:14 AM,10:08:12 AM,0.0,292.0,25152.0,16433.0,0.0,0.0,-1265.0,2110.0,3387.0,1.0,1.0,NaN
1,10:08:14 AM,10:08:12 AM,0.0,301.0,25157.0,16432.0,0.0,0.0,-1267.0,2112.0,3390.0,1.0,1.0,NaN
2,10:08:14 AM,10:08:12 AM,0.0,300.0,25162.0,16434.0,0.0,0.0,-1269.0,2111.0,3393.0,1.0,1.0,NaN
3,10:08:14 AM,10:08:12 AM,0.0,304.0,25159.0,16438.0,0.0,0.0,-1266.0,2109.0,3392.0,1.0,1.0,NaN
4,10:08:14 AM,10:08:12 AM,0.0,298.0,25156.0,16436.0,0.0,0.0,-1263.0,2108.0,3395.0,1.0,1.0,NaN

In [5]:
valid_idx = df['Timestamp of Read Request [HH:mm:ss.MM]'].dropna().index

In [ ]:
for i in valid_idx:
    string_time = df['Timestamp of Read Request [HH:mm:ss.MM]'][i]
    ms_time = string_time[:-3] + '.000'
    df.loc[df.index == i, 'Timestamp of Read Request [HH:mm:ss.MM]'] = ms_time

In [ ]:
for i in valid_idx:
    string_time = df['Timestamp of Read Request [HH:mm:ss.MM]'][i]
    ts_time = datetime.datetime.strptime(string_time, '%H:%M:%S %p')
    ms_time = datetime.datetime.strftime(ts_time, '%H:%M:%S.%f')
    df.loc[df.index == i, 'Timestamp of Read Request [HH:mm:ss.MM]'] = ms_time

In [172]:
df.head()

,Timestamp of Read Request [HH:mm:ss.MM],Estimated sample time [HH:mm:ss.MM],alsVis,alsIr,ps1,ps2,ps3,Temperature,x,y,z,ppgValid,accValid,Activity
0,10:08:14.000,10:08:12 AM,0.0,292.0,25152.0,16433.0,0.0,0.0,-1265.0,2110.0,3387.0,1.0,1.0,NaN
1,10:08:14.000,10:08:12 AM,0.0,301.0,25157.0,16432.0,0.0,0.0,-1267.0,2112.0,3390.0,1.0,1.0,NaN
2,10:08:14.000,10:08:12 AM,0.0,300.0,25162.0,16434.0,0.0,0.0,-1269.0,2111.0,3393.0,1.0,1.0,NaN
3,10:08:14.000,10:08:12 AM,0.0,304.0,25159.0,16438.0,0.0,0.0,-1266.0,2109.0,3392.0,1.0,1.0,NaN
4,10:08:14.000,10:08:12 AM,0.0,298.0,25156.0,16436.0,0.0,0.0,-1263.0,2108.0,3395.0,1.0,1.0,NaN

In [ ]:
df.tail()

In [ ]:
df.to_csv(file_path[0][:-4]+'_time.csv', index=False)

In [ ]:
def add_millisecond(dir):
    """
    Add millisecond to the timestamp columns
    
    params:
    dir -- directory where subject level folder is saved 
           (e.g. 'C:/Users/57lzhang/Desktop/PPG/' )
    
    output:
    a corrected csv file saved in the same folder
    """
    for folder_path in glob.glob(os.path.join(dir, '/*')):
    file_path = glob.glob(folder_path + '/*')
    for file in file_path:
        df = pd.read_csv(file)
        # in case some rows are empty
        valid_idx = df['Timestamp of Read Request [HH:mm:ss.MM]'].dropna().index
        for i in valid_idx:
            string_time = df['Timestamp of Read Request [HH:mm:ss.MM]'][i]
            ts_time = datetime.datetime.strptime(string_time, '%H:%M:%S %p')
            ms_time = datetime.datetime.strftime(ts_time, '%H:%M:%S.%f')
            df['Timestamp of Read Request [HH:mm:ss.MM]'][i] = ms_time